body {
    background: white;
}


.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#image-overlay {
	transform: translateX(-50%);
}



#top-header {
	background-color: white;
	color: #216087;
	text-align: center;
}

.gray-text{
	color: #707070;
}

#accordian-images {
	width: 25rem;
	padding: 2em;
}

/* #accordian-imagecontainer {
	width: 20vw;
} */

.ui.icon.input>input {
    padding-right: 2vw!important;
}
.header {
	font-size: 3em;
	font-family: Segoe UI;
}

.search-button {
	border-radius: 25px;
	text-align: center;
	color: white;
	background-color: #388dc2;
	/* border: 2px solid black; */
	padding: 0.5em 3em 0.5em 3em;
	width: auto;
	height: auto;
	border: transparent;
}

.search-button a{
	color: white;
}

.search-button:hover{
	background-color: #216087;
	color: white;
}

#intro-video {
	width: 40vw;
}


#rcorners {
	border-radius: 25px;
	/* border: 2px solid black; */
	/* padding: 20px;  */
	width: 100%;
	height: 100%;
	box-shadow: 5px 5px 15px #aaaaaa;  
  }

  #rcorners.convergence-card {
	box-shadow: 0px 11px 20px 18px #aaaaaa;
  }

#mainNavbar {
    font-size: 1.5rem;
	font-weight: 100;    	 
	color: white;
}

.navbar.scrolled {
	background-color: #216087;
	transition: background 500ms;
} 



#banner {
	background: lightgrey;
	color: #216087;
}

#banner-image {
	object-fit: cover;
}

#mainNavbar .nav-link {
    color:#388dc2;
}

#mainNavbar .nav-link:hover {
    color:  #216087;
}

#mainNavbar .navbar-brand {
	
    /* color: #216087; */
    font-size: 1.5rem;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}




.padding-box {
    padding-top: 6em;
}


@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}

#banner-2 {
	background-color: #fafafafa;
	color: #216087;
}

#shroud-bg {
	background-color: #CCCCCC;
}

#divinemercy-bg {
	background-color: #070c10;
	border-color: #070c10;;
}

.space-padding-box {
	padding: 1.5vw;
}


#shroud-cards.ui.cards > .card {
	width: 14.6em;
	height: 20em;
}

#shroud-cards.ui.card>.image>img, .ui.cards>.card>.image>img  {
		width: 100%;
		height: 12em;
		object-fit: cover;	
}

.vertical-align{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.image img{
	height: inherit;
	/* width: auto; */
}
.image figcaption{
	padding-top: 0.5em;
	display: table-caption;
	caption-side: bottom;
	text-align: center;
}

/*text inside accordion when collapsed*/
.card-body{
	margin-left: 16vw;
	margin-right: 16vw;
}

#shroud-flipcard {
	height: 25em;
}

/* Shroud card flip  */
.flip-card {
	background-color: transparent;
	width: 100%;
	height: 25em;
	perspective: 1000px;
	/* padding-bottom: 20vw; */
  }
  
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	/* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  }

  #flip-image{
	  width: 10vw;
  }

  #shroud-flip-image {
	  height: 100%;
	  object-fit: contain;
	  background: transparent;
	  border: transparent;
  }
  
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }
  
  .flip-card-front {
	/* background-color: #bbb; */
	color: black;
  }
  
  .flip-card-back {
	/* color: white; */
	transform: rotateY(180deg);
  }

/* DISCOVER BUTTON */

  #discover-button {
	background-color: #388dc2;
	color: #FFFFFF;
	transition: all 0.5s;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
  }

    #discover-button a.btn:hover{
	background-color: #216087;
	color: #FFFFFF;
  }

  .button:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0;
  }
  
  #discover-button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  #discover-button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  #discover-button:hover span {
	padding-right: 25px;
  }
  
  #discover-button:hover span:after {
	opacity: 1;
	right: 0;
  }

  /* ------------------------------------------------------------------- */

a sup footer{
	color:  #388dc2;
}
/* .discover-button{
	background-color: #216087;
	color: white;
} */

/* .column figure{
	display: table;
} */
.overlay{
	/* position: relative; */
	height: 90vh;
}
.overlay img{
	position: absolute;
}

.dmpn{
	z-index: 2;
}
.srt{
	z-index: 3;
	opacity: 0;
}
form .controls{
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 1em;
}
form .controls > *{
	vertical-align: middle;
}
.lang-links{
	text-align: right;
	margin-top: -2em;
}
.lang-links img{
	height: 2em;
	width: auto;
}

/* #image-container {
	box-shadow: 25px 25px 50px 0 #1b1c1d inset, -25px -25px 50px 0 #1b1c1d inset; 
	width: 300px;
	height: 300px;
	}
	 */



